|===
|Parameter|Description|Required|Type

{{#parameters}}
    |{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
    |{{#tableCellContent}}{{description}}{{/tableCellContent}}
    |{{#tableCellContent}}{{required}}{{/tableCellContent}}
    |{{#tableCellContent}}{{type}}{{/tableCellContent}}

{{/parameters}}
|===